* {
    font-family: Trebuchet MS;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background: #f7f7f7;
}

p,
li,
h1,
h2,
h3,
h4 {
    color: #4e4e4e;
}

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    background: #e5e5e5;
    padding: 20px;
}

header h1 {
    margin: 0;
    text-indent: -10000px;
    background: url(images/logo.png) no-repeat;
    width: 136px;
    float: left;
}

header nav {
    float: right;
}

header::after {
    display: block;
    content: "";
    clear: both;
}

header nav h2 {
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav li {
    list-style-type: none;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

header nav a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: bold;
    text-transform: uppercase;
}

header nav a.current {
    color: #1abb9c;
}

#main-banner img {
    width: 100%;
}

#main-banner {
    max-height: 500px;
    overflow: hidden;
}

#service {
    margin-top: 40px;
}

#service::after {
    display: block;
    content: "";
    clear: both;
}

#service h2 {
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

#service li {
    list-style-type: none;
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    line-height: 1.6em;
}

#service li p {
    color: #a3a3a3;
}

/**  latest work */
#latest-work {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e4e4e4;
}

#latest-work::after {
    display: block;
    content: "";
    clear: both;
}

#latest-work h2 {
    text-transform: uppercase;
    color: #4e4e4e;
}

#latest-work li {
    list-style-type: none;
    width: 32%;
    float: left;
    line-height: 1.6em;
}

#latest-work h3 {
    color: #4e4e4e;
    font-weight: bold;
}

#latest-work li img {
    width: 100%;
}

#latest-work li:nth-child(2) {
    margin: 0 2%;
}

#latest-work li p {
    line-height: 1.6em;
    color: #838383;
}

#latest-work li p.tags {
    color: #bbb;
    font-size: 14px;
    margin-top: 5px;
}

/** quote */

#quote {
    margin-top: 60px;
    width: 60%;
    padding: 40px 20%;
    line-height: 1.6em;
    font-size: 20px;
    background: url(images/quote.png) no-repeat center 10px;
    background-color: #efefef;
    color: #a1a1a1;
    text-align: center;
}

/** footer */

footer {
    padding: 30px 0;
    background-color: #202020;
    border-top: 10px solid #151515;
}

footer::after {
    display: block;
    content: "";
    clear: both;
}

footer h2 {
    line-height: 0;
    text-indent: -10000px;
}

footer h4 {
    margin: 0;
    color: #555;
    text-transform: uppercase;
    font-size: 18px;
}

footer ul {
    float: left;
    width: 25%;
    list-style-type: none;
}

footer li {
    color: #aaa;
    width: 80%;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6em;
}

footer li.tweet {
    padding-left: 20px;
    background: url(images/tweet.png) no-repeat left 6px;
}

#copyright {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    color: #999;
    font-size: 14px;
    border-top: 2px solid #333;
}

@media screen and (max-width: 960px) {

    #service li {
        width: 40%;
        padding: 0 5%;
        margin: 20px 0;
    }

    footer ul {
        width: 50%;
    }

    footer ul:nth-child(even) {
        clear: both;
    }

    #quote {
        width: 90%;
        padding: 40px 5%;
    }

}

@media screen and (max-width: 768px) {
    header nav {
        float: none;
    }

    header h1.logo {
        float: none;
        margin: 0 auto 15px;
    }

    header nav li {
        margin-left: 0;
        width: 16.66%;
        text-align: center;
        font-size: 14px;
    }

    #latest-work li {
        width: 60%;
        margin: 30px 20% !important;
    }

    #latest-work h2 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #service li {
        width: 80%;
        padding: 0 10%;
        margin: 20px 0;
    }

    #latest-work li {
        width: 80%;
        margin: 30px 10% !important;
    }

    #quote {
        font-size: 14px;
        font-weight: bold;
    }

    footer ul {
        float: none;
        width: 100%;
        border-top: 1px solid #333;
    }

    header {
        padding: 0;
        padding-top: 20px;
    }

    header .wrapper {
        width: 100%;
        padding: 0;
    }

    header nav {
        background-color: #555;
    }

    header nav li {
        float: none;
        width: 100%;
        margin: 0;
    }

    header nav li a {
        display: block;
        text-align: center;
        padding: 10px;
        color: #999;
        border-top: 1px solid #4f4f4f;
    }

    header nav ul {
        height: 0;
        overflow: hidden;
    }

    header nav ul.open {
        height: auto;
    }

    #burger-nav {
        width: 100%;
        height: 40px;
        background: url(images/burger-2.png) no-repeat 98% center;
    }
}
